<div class="quizz__container">
  <!-- Indicador de carregamento -->
  <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
    <p>Carregando quiz...</p>
  </div>

  <div *ngIf="!isLoading">
    <div class="quizz_logo">
      <img src="assets/imgs/logo.png" alt="" srcset="">
      <h3>{{title}}</h3>
    </div>

    <div *ngIf=!finished class="quizz_questions">
        <h3>{{questionSelected.question}}</h3>
    </div>

    <div *ngIf=!finished class="quizz_options">

      <button
        *ngFor="let option of questionSelected.options; let i = index"
        (click)="playerChoose(option.alias)"
        class="btn-option"
      >
        {{option.name}}
      </button>

    </div>

    <div *ngIf=finished class="quizz_results">
      <h1>O Seu resultado é:</h1>
      <h1>{{answerSelected}}</h1>
    </div>
    
    <app-footer></app-footer>
  </div>
</div>
